/* 
 * Layout
 */
#content-wrapper > div {
  width: 100%;
}

/* Move the sidebar toggle icon to the bottom right */
a#sidebar-toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: 8rem;
  height: 3rem;
  z-index: 999;
}
a#sidebar-toggle i {
  background-color: #232323;
  color: var(--tools-panel-color);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 6px 8px;
  border-radius: 8px;
}

/*
 * Media
 */

img,
video,
figure {
  max-width: 100%;
}
#content-wrapper img,
#content-wrapper video {
  margin: 0 auto;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-style: italic;
  margin: 2rem 0;
}
/* Hide unnecessary images when there isn't enough width */
@media only screen and (max-width: 1200px) {
  .nomobile,
  figure.nomobile {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
  }
}

/* 
 * Misc styles
 */

/* Subtitles */
h1 + h4 {
  margin-top: -2.5rem;
  text-align: center;
}

/* After Effects panel border */
.panel {
  box-sizing: border-box;
  border: 1px solid var(--tools-panel-color);
}

/* Limit width on widescreen */
@media only screen and (min-width: 1671px) {
  #content-wrapper > div {
    max-width: 1230px;
  }
}

/* Home overrides */
.home #navigation,
.home #summary,
.home footer {
  display: none;
}

.home #title-container {
  width: fit-content;
  margin: 1rem auto 3rem auto;
  background-color: var(--tools-accent);
  text-align: center;
  padding: 0 0.75rem;
}

.home #title {
  color: var(--tools-primary);
  font-size: 1.5rem;
}

.home #title #spaced {
  letter-spacing: 2px;
}

.home #title #logo-container {
  color: var(--tools-on-accent) !important;
}
