#summary {
  margin-top: -1.5rem !important;
}

.griddy {
  --grid-layout-gap: 5rem;
  --grid-column-count: 3;
  --grid-image-max-height: 14rem;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));

  --grid-item--min-width: 280px;
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );
  --griddy-max-width: calc(
    (25rem * var(--grid-column-count)) + var(--total-gap-width)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}

#extra.griddy {
  max-width: var(--griddy-max-width);
}

.griddy h3 {
  line-height: 125%;
}

.griddy * {
  margin: 0;
  padding: 0;
}
.griddy img {
  width: auto;
  max-width: 100%;
  max-height: var(--grid-image-max-height);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.griddy > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  color: inherit;
}
.griddy * {
  transition: 0.3s;
}
.griddy > *:hover img {
  transform: scale(1.05);
}
.griddy > *:hover h3 {
  color: var(--tools-accent);
}
