<a id="logo-container" class="logo-container" title="amv.tools" href="{{ home_url }}">
	<i class="fa fas fa-{{ random(['video', 'photo-video', 'film', 'desktop']) }}"></i>
	<i class="fa fas fa-{{ random(['tools', 'toolbox', 'hammer', 'screwdriver', 'wrench', 'pen-nib']) }}"></i>
</a>
