{% extends 'default.html.twig' %}

{% block navigation %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
	<div id="content">
		<h1>{{ 'PLUGIN_ERROR.ERROR'|t }}
			{{ header.http_response_code }}</h1>
		{{ page.content|raw }}
	</div>
{% endblock %}
