{% extends 'default.html.twig' %}

{% block extra %}	
	<div class="list">
      {% for child in page.collection() %}
          {% include 'partials/item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
      {% endfor %}
	</div>
{% endblock %}

