{% extends 'default.html.twig' %}

{% set collection = page.collection() %}
{% if collection is empty %}
	{% set options = { items: {'@self.children':''}, 'filter' : { visible: true, published: true } } %}
	{% set collection = page.collection(options) %}
{% endif %}

{% block extra %}	
	<div class="list">
      {% for page in collection %}
          	{% include 'partials/item.html.twig' with {'page':page} %}
      {% endfor %}
	</div>
{% endblock %}